.git
.github
.vscode

build.log
instruction-data-with-preference.json
Practice*.pdf
Tutorial*.pdf
pmd-bin-7.23.0
target
todo
todo2

**/node_modules
**/dist
**/target
!docs-web/target
docs-web/target/*
!docs-web/target/docs-web-*.war

docs/data
target/docker-data
